*{
    padding: 0;
    margin:0;
    box-sizing:border-box;
    font-family: Poppins;
}

.background-img{
    display:flex;
    gap:50px;
    background-image: url("https://cdn.pixabay.com/photo/2021/12/13/21/43/drummer-6869168_960_720.jpg");
    width: 100vw;
    height:100vh;
    justify-content:center;
    align-items:center;

}
kbd{
    font-size:20px;
}
.key{
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgba(0,0,0,0.75);
    text-align: center;
    color:white;
    padding:15px;
    width:100px;
    font-weight: 700;
    transition: all 0.07s;
}

.playing{
    transform:scale(1.1) ;
    border-color:#ffc600;
    box-shadow:0 0 10px ffc600;
}
